[submodule "config"]
	path = config
	url = https://github.com/antonio-alexander/lv-architecture-config
	branch = main
[submodule "interface"]
	path = interface
	url = git@github.com:antonio-alexander/lv-architecture-interface.git
	branch = main
[submodule "interface-dom-sub"]
	path = interface-dom-sub
	url = git@github.com:antonio-alexander/lv-architecture-interface-dom-sub.git
	branch = main
[submodule "launcher"]
	path = launcher
	url = git@github.com:antonio-alexander/lv-architecture-launcher.git
	branch = main
